@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #0a0a0a;
  --foreground: #ededed;
  --interactive: #9D0759;
  /* Fuchsia */
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .mapboxgl-popup-content {
    background: #171717 !important;
    font-size: 16px;
    padding: 1px;
  }
}

@layer base {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #212 inset !important;
    -webkit-text-fill-color: #eee;
  }
}

@layer components {
  .panel {
    @apply ring-slate-200 outline-2 h-fit w-lg rounded-lg py-12 lg:px-24 px-6
  }

  .center {
    @apply flex justify-center items-center
  }

  .link {
    @apply underline text-cyan-600
  }

  .link-scrolling {
    @apply w-fit text-nowrap
  }
}

@layer utilities {
  .panel-link {
    @apply flex bg-slate-700 text-center items-center justify-center text-2xl gap-4 hover:bg-slate-500
  }

  .button {
    @apply text-sm lg:text-lg h-fit font-bold italic border-2 p-2 rounded-lg hover:bg-fuchsia-800 border-fuchsia-600;
  }

  .text-input {
    @apply w-full px-3 py-2 outline-1 border border-zinc-300 rounded-md focus:outline-none focus:border-fuchsia-600 focus:shadow shadow-sm
  }

  .text-input-label {
    @apply absolute pointer-events-none cursor-text bg-background px-1 left-2.5 top-2
  }

  .search-view {
    @apply h-[70vh] lg:mx-0 mx-4
  }

  .fold-marker {
    @apply w-12 h-12 absolute
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-standard: var(--font-k2d);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply lg:text-4xl text-2xl text-center
}

h2 {
  @apply text-2xl text-center my-4
}

h3 {
  @apply text-2xl
}


/* Animation */

@keyframes infinite-scroll-forward {
  from {
    transform: translateX(calc(-50% + 100vw))
  }

  to {
    transform: translateX(0%)
  }
}

@keyframes infinite-scroll-reverse {
  from {
    transform: translateX(0%)
  }

  to {
    transform: translateX(calc(-50% + 100vw))
  }
}