@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --interactive: #9D0759; /* Fuchsia */
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .button {
    @apply font-bold italic border-2 px-4 py-2 rounded-lg hover:bg-fuchsia-800 border-fuchsia-600;
  }

  .panel-link {
    @apply flex bg-slate-700 text-center items-center justify-center text-2xl gap-4 hover:bg-slate-500
  }

  .panel {
    @apply ring-slate-200 outline-2 h-fit w-sm rounded-lg p-12
  }

  .center {
    @apply flex justify-center items-center
  }

  .link {
    @apply underline text-cyan-600
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-standard: var(--font-k2d);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-4xl text-center
}

h2 {
  @apply text-2xl text-center my-4
}
